argparse
langchain>=0.0.231
lxml
pymongo
requests
bs4
openai
tiktoken
langchain[all]
langchain
langchain-openai
langchain-community
langchain-core
langchain-experimental
python-dotenv
jupyterlab
unstructured
pdf2image
pdfminer.six
pillow-heif
opencv-python
unstructured_inference
unstructured_pytesseract
unstructured[all-docs]
pytesseract
pikepdf
pypdf
chromadb
grandalf
# ipython
pdf2image
